
// fonts
$fontCopySize: 18px;
$fontFamily: Helvetica, sans-serif;
$fontLColor: rgb(210, 210, 210);

// $fontDColor: rgb(42, 42, 42);
$fontDColor: #202020;
$fontStrength: 500;

    // media
// backgrounds
$bkgrndDark: #202020;
